extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Book1

  .row
    .col-xs-12.col-md-9
      .row
        each bookItem in bookItems
          .col-xs-12.col-sm-6.menu-item
            .panel.panel-primary
              .panel-heading
                h2.panel-title= bookItem.name
                span.badge.pull-right.badge-default $#{bookItem.price}
              .panel-body
                img.book-item-image(src=bookItem.image, alt=bookItem.name)
                p.book-item-description= bookItem.description
                p.rating
                  - var rating = bookItem.rating
                  each star in [1, 2, 3, 4, 5]
                    if star <= rating
                      span.glyphicon.glyphicon-star
                    else
                      span.glyphicon.glyphicon-star-empty
                p.review
                  = bookItem.review

  .col-xs-12.col-sm-3
    p.lead
      | Explore our diverse collection of books at Novelnotes Library, where captivating stories and literary adventures await. From thrilling mysteries to heartwarming classics, our book offerings promise an unforgettable reading experience.